<mat-toolbar color="primary" class="d-flex flex-row justify-content-between nav">
    <mat-card-content class="d-flex flex-row justify-content-around align-items-center">
        <button id="sidebarToggle" (click)="toggle()" href="#" mat-icon-button class="example-icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>ciee games</span>
    </mat-card-content>
    <mat-card-actions class="d-flex flex-row">
        <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-card-actions>
</mat-toolbar>