<div id="layoutSidenav_nav" class="bg-dark sidebar">
    <mat-accordion color="primary">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    JOGOS
                </mat-panel-title>
            </mat-expansion-panel-header>


            <div class="w-100 pointer border border-secondary shadow rounded p-1 mt-1 d-flex flex-row align-items-center"
                routerLink="/genero-cadastro">
                <mat-icon>list_alt</mat-icon>
                <span>genero</span>
            </div>
            <div class="w-100 pointer border border-secondary shadow rounded p-1 mt-1 d-flex flex-row align-items-center mt-1"
                routerLink="/game-cadastro">
                <mat-icon>folder_open</mat-icon>
                <span>Cadastro</span>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>