<mat-card class="w-100 h-100 bg-dark overflow-auto scrollable-div">
    <mat-card-content *ngFor="let obj of listaGame |keyvalue ; let i = index " class="d-flex flex-column">
        <h5 style="display: block;" class="text-white">{{obj.key|uppercase}}</h5>
        <div class="d-flex flex-row overflow-auto ml-4 scrollable-div"
            [style]="i%2==0? 'background-color:rgba(51, 51, 51, 1);':''">
            <mat-card *ngFor="let item of obj?.value" class="shadow border rounded m-2 game-card pointer"
                style="max-width: 25%;">
                <mat-card-content (click)="openModal(item)">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title> {{item?.titulo||"- - - - -"}}</mat-card-title>
                            <mat-card-subtitle>{{item?.desenvolvedora||"- - - - -"}}</mat-card-subtitle>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{item?.descricao||"- - - - -"}}
                    </mat-card-content>
                    <mat-card-footer>
                        <mat-card-subtitle>
                            lançamento:{{item?.lancamento|date:"dd/MM/yyyy"}}
                        </mat-card-subtitle>
                    </mat-card-footer>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>